<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Cart Add</title>
</head>
<body>
    <h1>Test Add to Cart</h1>
    
    <form th:action="@{/user/cart/add}" method="post">
        
        <input type="hidden" name="id" value="test-product-id" />
        <input type="hidden" name="cartId" value="test-cart-id" />
        <input type="hidden" name="quantity" value="1" />
        <button type="submit">Test Add to Cart</button>
    </form>
    
    <hr>
    <h2>Debug Links:</h2>
    <ul>
        <li><a th:href="@{/user/debug-session}">Debug Session</a></li>
        <li><a th:href="@{/user/cart/test}">Test Cart Endpoint</a></li>
        <li><a th:href="@{/cart/debug}">Cart Debug</a></li>
    </ul>
</body>
</html> 